/*!
  * kinesis.io Custom Stylesheet - UIHorizontalScroll
  * http://kinesis.io/
  *
  * Copyright 2012, Kinesis.io
  * http://kinesis.io/license
  *
  * Copyright 2012, NotionQ LLP
  *
  * Date: Thu Feb 23 15:53:00 2012 +0530
*/

/* general styles starts */
* {
  margin: 0;
  padding: 0;
}

.clear {
  overflow: hidden; 
}
/* general styles ends */

/* css transitions styles starts */
#gridHolder { 
  -webkit-transition: all 0.5s ease-in; 
  -moz-transition: all 0.5s ease-in; 
  -o-transition: all 0.5s ease-in; 
  -ms-transition: all 0.5s ease-in;
}
/* css transitions styles ends */

/* grid styles starts */
#gridHolder td {
  width: 550px;
  overflow: hidden;
}

#gridHolder td .tileItem, #gridHolder td .banner {
  float: left;
  width: 500px;
  margin: 100px;
  padding: 20px;
  opacity: 0.7;
  font-size: 36px;
  min-height: 400px;
  line-height: 400px;
  text-align: center;
  background-color: #F8F8F8;
}

#gridHolder td .tileItem {
  font-size: 200px;
}

#gridHolder td.active .tileItem {
  opacity: 1;
  background-color: #fff;
}
/* grid styles ends */